#root{
  background-image: url("./app/assets/img/bg.jpg");
}
.home-cover{
  background-color: rgba(255, 255, 255, 0.9);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F44336; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #F44336; 
}
.headerTop{
  background: #F44336;
}
.headerTop a{
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.headerTop a:hover{
  color: #ffffff;
  text-transform: uppercase;
}

/* Let's get this party started */
.newsbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.newsbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.newsbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F44336; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.newsbar::-webkit-scrollbar-thumb:window-inactive {
background: #F44336; 
}

.newsbar{
  height: 600px; 
  overflow-y: scroll;
}